/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

.ex-1-square:hover {
  background-color: red;
}

.ex-1-square {
  transition: background-color 2s;
}

.ex-2-square:active {
  width: 100%;
}

.ex-2-square {
  transition: 3s;
}

.ex-3-square:hover {
  border-radius: 100%;
}

.ex-3-square {
  transition: 2s;
}

.ex-4-square:hover {
  opacity: 0;
}

.ex-4-square {
  transition: 1s;
}

.ex-5-square:hover {
  transform: scale(2);
}

.ex-5-square:active {
  transform: scale(0.5);
}

.ex-5-square {
  transition: 2s;
}

.ex-6-img:hover {
  filter: grayscale(1);
}

.ex-7-img:hover {
  filter: grayscale(1) sepia(1);
}

.ex-7-img {
  transition: 3s;
}

.ex-8-img {
  transition: 3s;
}

.ex-8-img:hover {
  filter: grayscale(1) sepia(1);
  border-radius: 10%;
}

.ex-9-img {
  transition: 3s;
}

.ex-9-img:hover {
  filter: grayscale(1) sepia(1);
  border-radius: 10%;
  transform: scale(1.5);
}

.ex-10-icon {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(2turn)
  }
}

.ex-11-icon:hover {
  animation: spinclockwise 2s linear;
}

@keyframes spinclockwise {
  90% {
    transform: rotate(310deg)
  }

  100% {
    transform: rotate(0)
  }
}

.ex-12-button:hover .ex-12-top-white {
  animation: movetop 2s linear;
}

@keyframes movetop {
  0% {
    left: 10%;
  }

  50% {
    left: calc(100% - 60px);
  }

  100% {
    left: 10%;
  }
}

.ex-12-button:hover .ex-12-bottom-white {
  animation: movebot 2s linear;
}

@keyframes movebot {
  0% {
    right: 20%;
  }

  50% {
    right: calc(100% - 60px);
  }

  100% {
    right: 20%;
  }
}

.ex-13-button:hover .ex-13-top-white {
  animation: movetopc 2s linear;
}

@keyframes movetopc {
  0% {
    left: 10%;
    top: -10px;
  }

  30% {
    left: calc(100% - 30px);
    top: -10px;
  }

  45% {
    left: calc(100% - 30px);
    top: 100%;
  }

  75% {
    left: 0;
    top: 100%;
  }

  90% {
    left: -15px;
    top: -10px;
  }

  100% {
    left: 10%;
    top: -10px;
  }
}

.ex-13-button:hover .ex-13-bottom-white {
  animation: movebotc 2s linear;
}

@keyframes movebotc {
  0% {
    bottom: -10px;
    right: 20%;
  }

  30% {
    right: calc(100% - 30px);
    bottom: -10px;
  }

  45% {
    right: calc(100% - 30px);
    bottom: 100%;
  }

  75% {
    right: 0;
    bottom: 100%;
  }

  90% {
    right: -15px;
    bottom: -10px;
  }

  100% {
    bottom: -10px;
    right: 20%;
  }
}